@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./fonts/Poppins.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
