.reviewSectionContainer{
    margin: 50px 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.reviewSectionContainer h3{
    font-size: 22px;
}

.reviewCreator{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.singleReviewContainer{
    cursor: pointer;
    border-bottom: .5px solid rgb(214, 209, 209);
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.reviewCreatorDetailsContainer{
    display: flex;
    column-gap: 10px;
    margin-bottom: 10px;
}

.reviewCreatorImgContainer{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}

.reviewCreatorImgContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}

.reviewCreatorNotImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #6495ED;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.reviewCreatorName{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
