.restaurantFormContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.restaurantFormContainer form{
    margin: 20px 5rem;
    padding: 30px 60px 0px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restaurantFormContainer form div{
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
  
.restaurantFormContainer h1{
    margin-bottom: 20px;
    color: black;
    text-align: center;
}
  
.restaurantFormContainer button{
    height: 50px;
    padding: 10px 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}