.navContainer{
    background-color: black;
    color: white;
    margin: 0 50px;
    padding: 10px 50px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTitle{
    font-size: 25px;
}

.navTitle a{
    text-decoration: none;
    color: white;
}

.profileDetailsContainer{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.profileDetailsImgContainer{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}

.profileDetailsImgContainer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: content-box;
}

.profileDetailsNotImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #6495ED;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.navContainer button{
    background-color: black;
    color: white;
    margin: 0 5px;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .navContainer{
        margin: 0 10px;
        padding: 10px 10px;
    }
    .navTitle{
        font-size: 15px;
    }

}
