.reviewInfoSectionContainer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.reviewInfoSectionReview{
    display: flex;
    flex-direction: column;
}

.reviewCreatorDetailsContainer{
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
}

.reviewCreatorImgContainer{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: content-box;
}

.reviewCreatorImgContainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-sizing: content-box;
}

.reviewCreatorNotImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: content-box;
    background-color: #6495ED;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.reviewCreatorName{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.reviewInfoSectionReviewAndRatingContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.reviewInfoSectionReviewAndRatingContainer p{
    font-size: 20px;
}

.reviewInfoSectionReviewAndRatingContainer span{
    font-size: 20px;
    font-weight: 800;
}

.reviewImgContainer{
    margin-top: 10px;
    display: flex;
    column-gap: 10px;
}

.reviewImg{
    height: 200px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
}

.addCommentForm{
    display: flex;
    margin-left: 50px;
    column-gap: 10px;
}

.addCommentForm input{
    padding: 15px;
    padding-bottom: 10px;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(223, 217, 217);
    outline: none;
    font-size: 15px;
}

.addCommentForm input:focus {
    border-bottom: 1px solid black;
}

.addCommentForm button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

@media screen and (max-width: 550px){
    .reviewImg{
        height: 150px;
        width: 150px;
    }
        
}
