.restaurantProfileContainer{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.restaurantDeleteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.restaurantDeleteContainer button{
    background-color: red;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
}