.searchBarContainer{
    display: flex;
    align-items: center;
    column-gap: 10px;
    min-width: 500px;
}

.searchBarInput{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}
